/* Rose Pine Wofi Theme */
window {
  background-color: rgba(25, 23, 36, 0.95); /* Soft dark background */
  border-radius: 20px;
  border: 2px solid #31748f; /* Subtle pink border */
  font-family: "JetBrainsMono", monospace;
}

/* Input field */
#input {
  color: #e0def4; /* Light text */
  background-color: rgba(28, 27, 39, 0.9);
  border-radius: 30px;
  min-width: 20px;
  border-width: 0px;
  padding-left: 10px;
  margin-top: 3.8px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 3px;
}

/* Entry items */
#entry {
  transition: background-color 0.5s ease-in-out;
  transition: color 0.5s ease;
  color: #e0def4;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
}

/* Selected entry */
#entry:selected {
  background-color: #26233a;
  padding: 6px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  color: #9ccfd8;
  border-radius: 20px;
  text-shadow: none;
}

#img:selected {
  background: none;
}

#highlight:selected {
  border: 0px;
}

#text:selected {
  transition: color 0.2s ease-out;
  background: none;
  color: #f6c177;
  font-style: bold;
}

/* Scrollbar (optional) */
#scroll {
  background-color: transparent;
}

#scrollbar {
  background-color: #191724;
}

#scrollbar:selected {
  background-color: #ebbcba;
}
