@import "./theme/rose-pine.css";

/* Global Reset */
* {
  all: unset;
  font-family: "Ubuntu Nerd Font";
  transition: 0.3s;
  font-size: 1rem;
}

/* Floating Notifications */
.floating-notifications.background .notification-row {
  margin: 4px;
}

.floating-notifications.background .notification-background {
  background-color: #191724;
  color: #e0def4;
  border: 1px solid @gold;
  border-radius: 20px;
  /* Optional padding */
  padding: 0.5rem;
}

.floating-notifications.background .notification-background .notification {
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-background
  .notification.critical {
  border: 1px solid #eb6f92;
}

.floating-notifications.background
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem 0 0.125rem 1rem;
  color: #e0def4;
  font-weight: bold;
}

.floating-notifications.background
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.125rem 0 0.5rem 1rem;
  color: #908caa;
  border-radius: 20px;
}

/* Icon Border Radius for Floating Notifications */
.image {
  border-radius: 20px;
}

/* Notification Action Buttons */
.floating-notifications.background
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  margin: 0.5rem 0 0 0;
  color: @base;
  background-color: @pine;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.floating-notifications.background
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @rose;
  color: @base;
}

.floating-notifications.background
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #6e6a86;
  color: @text;
}

/* Close Button for Floating Notifications */
.floating-notifications.background .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #e0def4;
  background-color: #eb6f92;
}

.floating-notifications.background
  .notification-background
  .close-button:hover {
  color: #191724;
}

.floating-notifications.background
  .notification-background
  .close-button:active {
  background-color: #ebbcba;
}

/* Control Center Container */
.control-center {
  border-radius: 0.5rem;
  margin: 0.25rem;
  background-color: #191724;
  color: #e0def4;
  padding: 1rem;
  border: 1px solid @subtle;
}

/* Control Center Widget Title */
.control-center .widget-title {
  color: #f6c177;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: #e0def4;
  background-color: #1f1d2e;
  border: 1px solid #6e6a86;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: #26233a;
}

.control-center .widget-title button:active {
  background-color: #6e6a86;
}

/* Control Center Notification Background */
.control-center .notification-background {
  margin: 0.5rem 0;
  background-color: #1f1d2e;
  color: #e0def4;
  border: 1px solid #6e6a86;
  border-radius: 20px;
  padding: 0.5rem;
}

.control-center .notification-background .notification {
  /* Inherit default border-radius */
}

.control-center .notification-background .notification.critical {
  border: 1px solid #eb6f92;
}

.control-center .notification-background .notification .notification-content {
  color: #e0def4;
}

.control-center
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem 0 0.125rem 1rem;
  font-weight: bold;
}

.control-center
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.125rem 0 0.25rem 1rem;
  color: #908caa;
}

.control-center
  .notification-background
  .notification
  .notification-content
  .time {
  color: @base;
  background: @rose;
  border-radius: 2px;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  font-size: 0.75rem;
}

/* Control Center Notification Action Buttons */
.control-center
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  margin: 0.5rem 0 0 0;
  color: @base;
  background-color: @pine;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.control-center
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @rose;
  color: @base;
}

.control-center
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #6e6a86;
  color: @text;
}

/* Control Center Close Button */
.control-center .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #e0def4;
  background-color: #eb6f92;
}

.control-center .notification-background .close-button:hover {
  color: #191724;
}

.control-center .notification-background .close-button:active {
  background-color: #ebbcba;
}

/* Progress Elements */
progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: #eb6f92;
}

.notification.low progress,
.notification.normal progress {
  background-color: #9ccfd8;
}

trough {
  background-color: #1f1d2e;
}

.control-center trough {
  background-color: #6e6a86;
}

/* Control Center Do Not Disturb (DND) */
.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: #26233a;
  border-radius: 0.5rem;
}

/* Widget DND */
.widget-dnd {
  color: #908caa;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: #26233a;
  border: 1px solid #6e6a86;
}

.widget-dnd > switch:checked slider {
  background: #eb6f92;
}

.widget-dnd > switch slider {
  background: #6e6a86;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

/* Widget Buttons Grid */
.widget-buttons-grid {
  padding: 6px 2px;
  border-radius: 4px;
  background: @overlay;
  margin: 0 0 0.25rem 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 5px;
  padding: 6px 20px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @surface;
}

/* Widget MPRIS */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
  padding: 28px;
  padding: 16px;
  /*margin: 16px 20px;*/
  background-color: @mpris-album-art-overlay;
  border-radius: 20px;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);*/
}

.widget-mpris .widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  color: @highlightHigh;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player > box > button {
  /* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
  /*background-color: @mpris-button-hover;*/
}

.widget-mpris > box > button {
  /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}
