$back: rgba(25, 23, 36, 0.9);
$base: #191724;
$surface: #1f1d2e;
$overlay: #26233a;
$muted: #6e6a86;
$subtle: #908caa;
$text: #e0def4;
$love: #eb6f92;
$gold: #f6c177;
$rose: #ebbcba;
$pine: #31748f;
$foam: #9ccfd8;
$iris: #c4a7e7;
$highlight-low: #21202e;
$highlight-med: #403d52;
$highlight-high: #524f67;

.body {
  background-color: $back;
  border-radius: 30px;
}

tooltip.background {
  color: $text;
  background-color: $overlay;
  border-radius: 8px;
}

menu {
  color: $text;
  background-color: $overlay;
  border-radius: 8px;
  padding: 10px;

  &:hover {
    color: $rose;
  }
}

.hidden {
  color: $back;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

.applauncher {
  background-color: transparent;
  color: $iris;
  font-size: 18px;
  margin-left: 4px;
  border-radius: 18px 0px 0px 18px;
  padding-left: 12px;
  padding-right: 0px;
}

.powermenu {
  background-color: transparent;
  color: $iris;
  font-size: 18px;
  padding: 0 12px 0px 12px;
  border-radius: 0px 18px 18px 0px;
}

.shutdown {
  margin: 0px;
  color: $love;
  transition: color 0.2s ease-in;
  &:hover {
    color: $highlight-high;
  }
}

.lock {
  color: $gold;
  transition: color 0.2s ease-in;
  &:hover {
    color: $highlight-high;
  }
}

.reboot {
  color: $rose;
  transition: color 0.2s ease-in;
  &:hover {
    color: $highlight-high;
  }
}

.exit {
  color: $foam;
  transition: color 0.2s ease-in;
  &:hover {
    color: $highlight-high;
  }
}

.suspend {
  color: $pine;
  transition: color 0.2s ease-in;
  &:hover {
    color: $highlight-high;
  }
}

.time {
  padding-left: 10px;
  font-size: 14px;
}

.tnd {
  color: $text;
  font-style: italic;
}

.workspace {
  all: unset;
  padding: 0.3rem;
  min-height: 0px;
  min-width: 1px;
  border-radius: 100px;
  transition: background-color 0.5s ease;
  &.current {
    color: $gold;
    background-color: $highlight-low;
  }

  &.inactive {
    color: $subtle;
    background-color: transparent;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.musicbar {
  min-width: 250px;
  padding-top: 0.5rem;
}

.albumart {
  background-size: cover;
  background-position: center;
  min-height: 33px;
  min-width: 33px;
  margin: 7px;
  padding-left: 4px;
  border-radius: 4px;
}

.music-title {
  padding-top: 0.5rem;
  font-style: italic;
}

.musicbar trough {
  all: unset;
  background-color: $muted;
  border-radius: 5px;
  min-height: 4px;
  min-width: 50px;
}

.musicbar trough highlight {
  min-height: 4px;
  background-color: $rose;
  border-radius: 5px;
}

.bat-body {
  margin-right: 1.25rem;
}

.bat {
  progress {
    all: unset;
    min-height: 25px;
    min-width: 5px;
    background-color: $pine;
    transition: all 0.5s ease-in-out;
    border-radius: 18px;
  }

  trough {
    all: unset;
    background-color: $muted;
    border-radius: 12px;
    min-width: 75px;
    min-height: 25px;
  }

  &.discharge {
    & trough {
    }
    & progress {
      background-color: $pine;
    }
  }

  &.charging {
    & trough {
    }
    & progress {
      background-color: $foam;
    }
  }

  &.critical {
    & trough {
    }
    & progress {
      border-radius: 18px 10px 10px 18px;
      background-color: $love;
    }
  }

  &.full {
    & trough {
    }
    & progress {
      background-color: $rose;
    }
  }
}

.battery-text {
  color: $base;
  font-size: 16px;
  font-weight: 600;
}

.bright {
  margin-right: 5px;
}

.bright-icon {
  padding-right: 5px;
  font-size: 22px;
  color: $gold;
}

.bright-slider {
  padding-left: 10px;
  padding-right: 10px;
  transition: min-height 0.5s ease;
  & trough {
    background-color: $muted;
    border-radius: 7px;
    min-height: 15px;
    min-width: 100px;
    &:hover {
      min-height: 17px;
    }
  }
  & trough highlight {
    min-height: 15px;
    background-color: $gold;
    border-radius: 7px;
    &:hover {
      min-height: 17px;
    }
  }
  & slider {
    &:hover {
      min-height: 17px;
    }
  }
}

.sound {
  margin-right: 8px;
}

.sound-icon {
  all: unset;
  margin-right: 5px;
  font-size: 20px;
  color: $iris;
  transition: all 0.4s ease-in-out;
  &.on {
    color: $iris;
    padding-right: 5px;
  }
  &.muted {
    color: $love;
  }
}

.sound-slider {
  padding-left: 10px;
  padding-right: 10px;
  trough {
    background-color: $muted;
    border-radius: 7px;
    min-height: 15px;
    min-width: 100px;
  }
  trough highlight {
    min-height: 15px;
    background-color: $iris;
    border-radius: 7px;
  }
  slider {
    background-color: $iris;
    &:hover {
    }
  }
  &.on {
    & trough {
    }
    & trough highlight {
    }
    & slider {
      &:hover {
      }
    }
  }
}

.systray {
  border-width: 2px;
  border-color: $highlight-med;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 50px;
}
